@model Dictionary<string, int>
@{
    ViewData["Title"] = "ShoppingList";
}

<h2>Our shopping list</h2>

<table border="1" style="width: 200px;">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Key</td>
            <td>@item.Value</td>
        </tr>
    }
</table>

<br />

<partial name="TimeToBuy" />