@{
    ViewData["Title"] = "SuperMarkets";

    var markets = ViewBag.Supermarkets as List<string>;
}

<h2>Our Supermarkets</h2>

@if (markets != null && markets.Count > 0)
{
    <h3>There are @markets.Count markets:</h3>
    <ul>
        @foreach (var market in markets)
        {
            <li>@market</li>
        }
    </ul>
}
else
{
    <p>No supermarkets found.</p>
}